*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("/font/Poppins-Regular.otf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("/font/Poppins-Bold.otf");
}

.headerTitle{
    font-family: "Poppins-Bold";
    font-size: 3vw;
    text-align: center;
}


.searchDonator{
    font-family: "Poppins-Regular";
    border: none;
    border-bottom: 2px solid #333;
    font-size: 2vw;
    width: 91.5vw;
    height: 4vw;
    outline: none;
    padding-left: 7vw;
    transition: 'border-color 0.2s ease-in-out',
}

.searchDonator:focus{
    box-shadow: "0 0 0 2px #333";
}

.tblRequest{
    font-family: "Poppins-Regular";
    align-items: center;
}

.tblRequest tr td{
    border-collapse:collapse;
    text-align: center;
    height: 5vw;
    width: 20vw;
}

.tblRequest tr:nth-child(even){background-color: #f2f2f2;}

.tblRequest th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: blue;
    color: white;
    height: 4vw;
}

.tblRequest tr:hover{
    background-color: rgb(255, 138, 138);
    color: white;
}

/* CSS */
.btnDownload {
    background-image: linear-gradient(92.88deg, #2250f4 9.16%, #3d25d8 43.89%, #320e93 64.72%);
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Poppins-Regular";
    font-size: 16px;
    height: 4vw;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 85vw;
}

.btnDownload:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

@media (min-width: 768px) {
    .btnDownload {
        padding: 0 2.6rem;
    }
}

.approve-request-container{
    position: absolute;
    height: 5vh;
    width: 20%;
    font-family: "Poppins-Regular";
    background-color: rgb(48, 221, 48);
    color: white;
    margin-top: 1vw;
    font-size: 1.5vw;
    border-radius: 2vw 0 4vw 0;
}
